body{
background-color: grey;

}

.main-container{
  background-color: lightgrey;
  width: 50%;
}

.flex{
  display:flex;
}

.heading{

  background-color: white;
  margin-bottom: 50px;
}


h1{
  font-size: 40px;
  color: #EB1D36;
}


label, p{
  color: #EB1D36;
  font-size: 20px;
}

p{
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 20px;
}

.centered{
  justify-content: center;
}




.f-inputs{
  height: 25px;
  width: 80%;
  border-radius: 10px;
  border: none;
  padding: 2px 5px;
  margin-top: 20px;


}


.column{
  padding-left:10%;
  flex-direction: column;

}
.margin{
  margin-bottom: 10px;
  min-width:40%;
}

.label{
  font-size: 15px;
}

.inputs{
margin-bottom: 10px;
}

textarea{
  border-radius: 10px;
  padding:10px;
  margin-bottom: 50px;
  width:80%;
}

.feedback{
display: flex;
flex-direction: column;
align-items: center;
}


button{
  width: 150px;
  height: 30px;
  border-radius: 10px;
  border: none;
  background-color: grey;
  color: white;
  font-size: 15px;
  margin-bottom: 50px;
}

.padding{
  flex-wrap: wrap;

}
